[y-page="home"] > svg {
	display: block;
	margin: 0 auto;
	border: 1px inset lightgrey;

	line.checkpoint {
		stroke-width: 1px;
		stroke: whitesmoke;

		&.start-line {
			stroke-dasharray: 1 1;
			stroke-dashoffset: 1;
			stroke: black;
		}
	}

	path {
		fill: none;
		stroke-width: 1px;
		stroke: brown;
		stroke-linejoin: round;
		stroke-linecap: round;
	}

	circle.car {
		r: 4px;
	}
}
