[y-page="home"] {
	> ol {
		float: right;
		margin-top: 0;
		padding-left: 0;
		border: 1px solid black;
		width: 200px;
		display: flex;
		flex-flow: column nowrap;

		> li {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			padding: 2px 0 2px 5px;

			&::before {
				display: block;
				content: attr(order);
			}

			> * {
				margin: 0 10px;
			}

			span.name {
				flex-grow: 1;
			}

			span.time {
				opacity: 1;
				transition: opacity 0;

				&.fade-out {
					opacity: 0;
					transition: opacity 500ms ease-in;
				}
			}
		}
	}

	> svg {
		display: block;
		margin: 0 auto;
		border: 1px inset lightgrey;

		line.checkpoint {
			stroke-width: 1px;
			stroke: whitesmoke;

			&.start-line {
				stroke-dasharray: 1 1;
				stroke-dashoffset: 0.5;
				stroke: black;
			}
		}

		path {
			fill: none;
			stroke-width: 1px;
			stroke: brown;
			stroke-linejoin: round;
			stroke-linecap: round;

			&.lane-line {
				stroke: black;
				opacity: 0;
			}
		}
	}

	> form {
		display: block;
		margin: 10px 0;
		text-align: center;
	}

	> canvas {
		display: block;
		margin: 0 auto;
		border: 1px inset lightgrey;
		width: 500px;
		height: 400px;
	}
}
