[y-page='pageRenderer'] {
	> canvas {
		display: block;
		margin: 0 auto;
		border: 1px inset lightgrey;
		box-sizing: content-box;

		// 1080p HD Resolution
		$ratio: math.div(16, 9);
		$height: 1080px;
		$scale: math.div(13, 36);

		height: $height;
		width: $height * $ratio;
		transform: scale($scale) translate(50% * (1 - math.div(1, $scale)), 50% * (1 - math.div(1, $scale)));
	}

	video {
		max-width: 100%;
	}

	> form {
		display: block;
		margin: 10px 0;
		text-align: center;
	}
}
